# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

/obj

DSVLibrary/obj/project.nuget.cache
DSVLibrary/obj/project.assets.json
DSVLibrary/obj/DSVLibrary.csproj.nuget.g.props
DSVLibrary/obj/DSVLibrary.csproj.nuget.dgspec.json
DSVLibrary/obj/Debug/net7.0/DSVLibrary.GeneratedMSBuildEditorConfig.editorconfig
DSVLibrary/obj/Debug/net7.0/DSVLibrary.assets.cache
DSVLibrary/obj/Debug/net7.0/DSVLibrary.AssemblyInfoInputs.cache
.vs/DSVDesigned/v17/.suo
.vs/DSVDesigned/FileContentIndex/ca717552-274e-4970-8c09-df5f7360debd.vsidx
DSVLibrary/obj/Debug/net7.0/DSVLibrary.AssemblyInfoInputs.cache
DSVLibrary/obj/Debug/net7.0/DSVLibrary.assets.cache
DSVLibrary/obj/Debug/net7.0/DSVLibrary.GeneratedMSBuildEditorConfig.editorconfig
DSVLibrary/obj/DSVLibrary.csproj.nuget.dgspec.json
DSVLibrary/obj/project.assets.json
DSVLibrary/obj/project.nuget.cache
DSVLibrary/obj/DSVLibrary.csproj.nuget.g.props
DSVProgram/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DSVProgram/obj/Debug/DSVProgram.csproj.AssemblyReference.cache
